html,body{
    height: 100%;
}

/* btn css*/
.btn-pri,
.btn-pri:focus
{
    background: #ffc500;
    color: black;
    outline: none;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 7px;
    cursor: pointer;

}

.btn-pri:hover
{
    background: #ffbb00;
    border: 2px solid #000000;
    outline: none;
}
/* END of btn css*/


/* fields css*/
input[type=phone],
textarea
{
    background: white;
    border: #707070 solid 2px;
    border-radius: 5px;
    padding: 5px;
    min-width: 80%;
}


input[type=phone]:focus,
textarea
{
    background: white;
    
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}
/*End of fields css*/

/*complain pg*/

.center{
    text-align: center;
}

#complainbody {
    background: rgb(8,8,8);
    background: radial-gradient(circle, rgba(8,8,8,1) 0%, rgba(255,197,0,0) 0%, rgba(255,197,0,0.48783263305322133) 50%, rgba(255,197,0,0.7035189075630253) 100%);
}


.complain{
    text-align: center;
    margin-top: 50px;
}

.complain-box input{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 80%;
}

.complain-btn
{
    font-size: 20px;
}

.complain-box
{
    padding:50px 0px;
    background: #fefefe;
    border-radius: 20px;
    -webkit-box-shadow: 9px 10px 27px -9px rgba(0,0,0,0.65);
    -moz-box-shadow: 9px 10px 27px -9px rgba(0,0,0,0.65);
    box-shadow: 9px 10px 27px -9px rgba(0,0,0,0.65);
    
}

#complain-head{
    font-size: 2rem;
}

.complain-box a{
    font-size: 0.9rem;
    text-decoration: underline;
}
/* end of complain pg*/